:root{
    --text_white: rgba(255, 255, 255, 0.65);
}
body{
    box-sizing: border-box;
    background-color:#27292d; 
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text_white) ;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    position: relative;
    height: 100vh;
  
}

/* ::-webkit-scrollbar {
    width: 30px !important;
    height: 30px !important;
} */
::-webkit-scrollbar-thumb {
    background: rgb(201, 36, 36); 
  }

.pages a{
    float: left; 
    margin: 0%;
    /* margin-right: auto; */
    /* margin: auto; */
    }
/* .pages a #des{margin-right: auto;} */

/* .pages a#left_align{margin-right:auto ;}
.pages a#center_align{margin-right:auto ; margin-left: auto;}
.pages a#right_align{margin-left:auto ;} */


.pages{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* grid-template-rows: auto; */
    justify-items:right;
    padding-left: 1em;
    align-items: center;
    /* grid-gap: 1em; */
    /* align-items: flex-end; */
    /* padding: none; */
    justify-content: space-between;
    /* position: fixed;
    top: 0;*/
} 

nav{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 1em;
    margin-bottom: 4em;
    /* grid-gap: 1em; */
    /* padding-left:  1em; */
    /* align-content: center; */
    /* justify-content: space-between; */
    /* padding: 1em 2em 1em 2em; */
    /* overflow: auto; */
    /* position: fixed;
    width: 100%; */
 
}

nav a{
    text-decoration: none;
    /* color: whitesmoke; */
    color: var(--text_white);
    /* padding-top: 1em; */
}
nav a:hover{
    color: white;
}
/* nav .logo{padding-left: 1em;} */
/* nav > div{
    align-self: center;
} */
nav .menu, .ham_menu {
    display: none;
}


main{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    /* justify-content: space-between; */
}
.pic{margin: auto;
    /* width: 50%; */
    clip-path: circle(8em at center);
}

.social{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;}

.intro{
    padding-left: 1em;
    /* padding-right: 2em; */
    /* color: whitesmoke; */
    font-size: 0.9em;
    text-align: justify;
}
.buttons{
    display: grid;
    grid-template-columns: auto auto;
    justify-content:stretch;
    grid-gap: 0.5em;


}
.intro button{
    border-radius: 1em;
    background-color:#1b1b1b;
    /* color: whitesmoke; */
    color: var(--text_white);
    border: none;
    height: 3em;
    /* width: 15em; */
    /* margin-right: 1em; */
    /* margin-top: 1em; */
}
.intro button:hover{cursor:pointer; 
    background-color: var(--text_white);
    color: #1b1b1b;
}

/*----blog_page formatting-----*/

.blog_post{
   
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-rows: auto auto; */
    grid-gap: 1.5em;
    
    
    
}
.wrapper{
    display: grid;
    grid-template-rows: repeat(auto-fill,minmax(300px, 1fr));
    /* grid-template-columns: auto; */

}
.blog_post .wrapper:hover{
    box-shadow: -10px 10px 9px #1b1b1ba4 ; 
    cursor: pointer;   
    border-radius: 0.5em;
    /* animation: forwards; */
}
.blog_post .wrapper{padding: 0; 
    /* border-radius: 2em;     */
    /* margin: 2em; */
    width: 100%;
    height: 100%;
}

/* .blog_post img{margin: 0;} */

.blog_post a{text-decoration: none;
color: var(--text_white);
margin: 0;
/* padding: 0.2em; */
font-size: 0.9em;
/* background-color: #1b1b1b; */
}
.blog_post .anchor{
    background-color: #1b1b1b;
    height: 4em;
    /* width: 100%; */
    padding: 0.5em;
    margin: 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

}
.blog_post img{
    display: block;
    /* width: 100%; */
    height: 100%;
    object-fit:cover;
    overflow: hidden;
border-top-left-radius: 0.5em;
border-top-right-radius: 0.5em;
}



.text{
    padding-left: 4em;
    font-size: 0.9em;
    width: 65%;
}

.back_button:hover{cursor: pointer;}


.tweet{
    margin: auto;
    width: 85%;
}

.mobile_pages{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    text-align: center ;
    grid-gap: 3em;
    margin-top: 2em;
}
.mobile_pages a{text-decoration: none;
    color: var(--text_white);
}
.mobile_pages a:hover{color: white;}

/* ---formatting contact me page--- */
.icons{display: block; text-align:center; height: 2em;} 
.icons img{height: 1.5em;margin: 0.5em;}

.con_wrap{
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: auto au;   */
    margin: 1em;
    justify-items: center;
    /* grid-gap: -2em; */
}
.forms{
    display: grid;
    grid-template-rows: 15% 15% 40% 15% 10%;
    grid-gap: 1em;
    width: 80%;
    /* padding: 00.2em; */
    /* align-content: center; */
}
.forms input, textarea{    
    background-color: #1b1b1b ;
    border-style: none;
    border-radius: 0.5em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: left ;
    color: var(--text_white);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    resize: none;
    /* height: 2em; */
    /* border-bottom: solid 0.02em whitesmoke ; */
}
.forms button{
    background-color: var(--text_white);
    border-style: none;
    border-radius: 0.5em;
    font-size: 1.1em;
    color: #27292d;
}
.forms button:hover{
    background-color: #1b1b1b;
    color: var(--text_white);
    cursor:pointer;
}
.refer{display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
}
.liam{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;    
    grid-gap: 1em;
}

.liam_pic img{  
    /* margin: auto; */
    /* border-radius: 50%; */
    /* display: inline-block; */
    width: 7em;
    height: 7em;
    object-fit: cover;
    border-radius: 50%;
    /* margin: 0; */
    /* min-width: 60%;
    max-width: 70%;*/
    /* clip-path: circle(9em at center);  */

}
.dialog{
    display: inline-block;
    float:left;
    font-size: 0.8em;
    text-align: justify;
}

/* -----book_list_page------ */
.list_wrap{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;

}
.book_card{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.2em;
    background-color: #1b1b1b;
    padding: 2em;
    border-radius: 1em;
}

.book_cover{
    /* display: block; */
    margin: auto;
    /* padding: auto; */
}

.book_card .book_cover img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* padding: auto; */
}

.book_card .review p{font-size: 0.8em;}


/* ------ Design page 2 formatting ------  */

.gallery{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* width: 70%; */
    
}
.card{
    display: inline-block;
    width: 30%;
}
.gallery .card img{
    width: 100%;
border-radius: 0.5em;}
.card:hover{
    cursor: pointer;
    box-shadow:inset 0 0 0 20em #1b1b1b75;
}
.card_ui{
    display: inline-block;
    width: 30%;
    /* text-align: center; */
}
.gallery .card_ui img{
    max-width: 90%;
border-radius: 0.5em;}

/* --------- back to top styling -------  */

.top{
    
    position: fixed;
    height: 2em;
    right:0.5em;
    bottom: 0;
    margin: 0.5em;
    z-index: 2;
}

.top img {height: 2em;} 

/*---- responsiveness code ------*/
@media screen and (max-width:810px){
    nav .pages {display:none}
    nav .menu { display: block; 
        /* color: whitesmoke; */
        text-align: right;
        color: var(--text_white);
        /* padding-right: 2em ; */
            }
    main{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        align-items: center;
    }
    .blog_post{
        grid-template-columns: auto;
        justify-content: center;
    }
    .intro .buttons{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        /* grid-gap: 0.1em; */
        margin-top:0;
        
    }
    .con_wrap{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 30em 50%;
        grid-gap: 1.2em;
        
    }
    .forms{width: 100%; grid-gap: 0.5em;}
    /* .forms input button{height: 10%;} */
    .liam{grid-template-columns: auto;
    text-align: center;}
    .refer{grid-template-columns: auto;}
    
    .list_wrap{grid-template-columns: auto;}
    .book_card{grid-template-columns: auto;}
    .design_wrapper{
        grid-template-columns: auto;
        width: 100%;
        margin: auto;
    }
    .card{width: 90%;}

    .card_ui{
        display: inline-block;
        width: 90%;
        /* text-align: center; */
    }

}
@media screen and (min-width:500px) and (max-width:811px){
    .card_ui{
        display: inline-block;
        width: 40%;
        /* text-align: center; */
    }

}
@media screen and (max-width:1250px) and (min-width:811px){
    .con_wrap{
        grid-template-columns: auto;
        grid-template-rows: 50% 30%;
        grid-gap: 4em;
        /* margin: auto; */
        justify-self: center;
    }
    .liam{grid-template-columns: auto;
        text-align: center;}
    .dialog{width: 100%;text-align: justify;margin: auto;}
    .list_wrap{grid-template-columns: auto auto;}
    .book_card{grid-template-columns: auto;}
    /* .design_wrapper{
        grid-template-columns: auto;
    }    */
    .card{width: 45%;}
    .card_ui{
        display: inline-block;
        width: 30%;
        /* text-align: center; */
    }


}

@media screen and (min-width:1200px){
    body{ padding: 1em 4em 0 4em;
        
}
.card_ui{
    display: inline-block;
    width: 25%;
    /* text-align: center; */
}
}