:root{
    --text_white: rgba(255, 255, 255, 0.65);
}
body{
    box-sizing: border-box;
    background-color:#27292d; 
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text_white) ;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    position: relative;
    height: 100vh;
  
}


::-webkit-scrollbar-thumb {
    background: rgb(201, 36, 36); 
  }

.pages a{
    float: left; 
    margin: 0%;
}



.pages{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items:right;
    align-items: center;
    justify-content: space-between;
    
} 

nav{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 1em;
    margin-bottom: 4em;
    
 
}

nav a{
    text-decoration: none;   
    color: var(--text_white);
    
}
nav a:hover{
    color: white;
}

nav .menu, .ham_menu {
    display: none;
}




main{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    
    position: relative;
    animation: mymove 1.25s;

}



.pic{
    margin: auto;
    /* text-align: center; */
    clip-path: circle(8em at center);
}

.social{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;}

.intro{
    font-size: 1em;
    text-align: justify;
    /* animation: example 20s; */
}

.buttons{
    display: grid;
    grid-template-columns: auto auto;
    justify-content:stretch;
    grid-gap: 0.5em;


}
.intro button{
    border-radius: 1em;
    background-color:#1b1b1b;
    color: var(--text_white);
    border: none;
    height: 3em;
    
}
.intro button:hover{cursor:pointer; 
    background-color: var(--text_white);
    color: #1b1b1b;
}

/*----blog_page formatting-----*/

.blog_post{
   
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.5em;
    position: relative;
    animation: mymove 1.25s;
    
    
    
}
/* .wrapper{
    display: grid;
    grid-template-rows: repeat(auto-fill,minmax(300px, 1fr)); 

} */

.blog_post .wrapper:hover{
    box-shadow: -10px 10px 9px #1b1b1ba4 ; 
    cursor: pointer;   
    border-radius: 0.5em;
    
}
.blog_post .wrapper{padding: 0; 
    
    width: 100%;
    height: 100%;
}



.blog_post a{text-decoration: none;
color: var(--text_white);
margin: 0;
font-size: 0.9em;

}


.blog_post .anchor{
    background-color: #1b1b1b;
    height: 3em;
    background-size: 100%;
    padding: 0.5em;
    margin: 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    font-size: 1.25em;

}
.blog_post img{
    display: block;
    /* height: 100%; */
    height: 20em;
    object-fit:cover;
    overflow: hidden;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    /* background-color: #1b1b1b5d; */
    opacity: 0.6;
}



.text{
    /* padding-left: 4em; */
    font-size: 0.9em;
    width: 65%;
}

.back_button:hover{cursor: pointer;}


.tweet{
    margin: auto;
    width: 85%;
}

.mobile_pages{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    text-align: center ;
    grid-gap: 3em;
    margin-top: 2em;
}
.mobile_pages a{text-decoration: none;
    color: var(--text_white);
}
.mobile_pages a:hover{color: white;}

/* ---formatting contact me page--- */
.icons_1{display: block; text-align:center; height: 2em;} 
.icons_1 img{height: 1.5em;margin: 0.5em;}

.icons{display: block; text-align:center; height: 2em;} 
.icons img{height: 2.5em;margin: 0.5em;}

.con_wrap{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 1em;
    justify-items: center;
    position: relative;
    animation: mymove 1.25s;
    
}
.forms{
    display: grid;
    grid-template-rows: 30% 70%;
    grid-gap: 1em;
    width: 80%;
    align-items: center;
    
}

.refer{display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
}
.liam{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;    
    grid-gap: 1em;
}

.liam_pic img{  
    
    width: 7em;
    height: 7em;
    object-fit: cover;
    border-radius: 50%;
  

}
.dialog{
    display: inline-block;   
    font-size: 0.8em;
    text-align: justify;
}

/* -----book_list_page------ */
.list_wrap{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    position: relative;
    animation: mymove 1.25s;
}
.book_card{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.2em;
    background-color: #1b1b1b;
    padding: 2em;
    border-radius: 1em;
}

.book_cover{
    margin: auto;
    
}

.book_card .book_cover img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.book_card .review p{font-size: 0.8em;}


/* ------ Design page 2 formatting ------  */

.gallery{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* position: relative;
    animation: mymove 1.25s; */
    
}
.card{
    display: inline-block;
    width: 30%;
}
.gallery .card img{
    width: 100%;
border-radius: 0.5em;}
.card:hover{
    cursor: pointer;
    box-shadow:inset 0 0 0 20em #1b1b1b75;
}
.card_ui{
    display: inline-block;
    width: 30%;
    
}
.gallery .card_ui img{
    max-width: 90%;
border-radius: 0.5em;}

/* --------- back to top styling -------  */

.top{
    
    position: fixed;
    height: 2em;
    right:0.5em;
    bottom: 0;
    margin: 0.5em;
    z-index: 2;
}

.top img {height: 2em;} 

/*---- responsiveness code ------*/
@media screen and (max-width:569px){
    body{font-size: 0.9em;}
    .blog_post .anchor{font-size: 1.5em;
    height: 2.5em;}
    .text{
        width: 100%;
    }
    .intro{
        text-align: center;
    }
    
}

@media screen and (min-width:500px) and (max-width:810px){
    
    .blog_post{
        grid-template-columns: auto auto;
        justify-content: center;
    }
    .text{
        width: 100%;
    }
}

@media screen and (max-width:810px){
    nav .pages {display:none}
    nav .menu { display: block; 
        
        text-align: right;
        color: var(--text_white);
        
            }
    main{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        align-items: center;
    }
    /* .blog_post{
        grid-template-columns: auto ;
        justify-content: center;
    } */
    .intro .buttons{
        grid-template-columns: auto;
        grid-template-rows: auto auto;        
        margin-top:0;
        
    }
    .con_wrap{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 16em 40%;
        grid-gap: 1em;
        
    }
    .forms{width: 100%; gap: 0.5em;}    
    .liam{grid-template-columns: auto;
    text-align: center;}
    .refer{grid-template-columns: auto;}
    
    .list_wrap{grid-template-columns: auto;}
    .book_card{grid-template-columns: auto;}
    .book_card .book_cover img{
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;        
    }

    .design_wrapper{
        grid-template-columns: auto;
        width: 100%;
        margin: auto;
    }
    .card{width: 90%;}

    .card_ui{
        display: inline-block;
        width: 90%;        
    }

}
@media screen and (min-width:500px) and (max-width:811px){
    .card_ui{
        display: inline-block;
        width: 40%;        
    }

}
@media screen and (max-width:1250px) and (min-width:811px){
    .con_wrap{
        grid-template-columns: auto;
        grid-template-rows: 50% 30%;
        grid-gap: 4em;        
        justify-self: center;
    }
    .liam{grid-template-columns: auto;
        text-align: center;}
    .dialog{width: 100%;text-align: justify;margin: auto;}
    .list_wrap{grid-template-columns: auto auto;}
    .book_card{grid-template-columns: auto;}
    .card{width: 45%;}
    .card_ui{
        display: inline-block;
        width: 30%;
        
    }


}

@media screen and (min-width:1200px){
    body{ padding: 1em 4em 0 4em;
        
}
.card_ui{
    display: inline-block;
    width: 25%;
    
}
}

/* Adding fade in and ease in animation to main grid on home page  */

@keyframes mymove{
    from{bottom: 20px;}
    to{bottom: 0px;}
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.anime_test{
    position: relative;
    animation: mymove 1.25s;
}
.tweet{
    position: relative;
    animation: mymove 1.25s;
}

#main{animation-timing-function: ease;}
#blog_post{animation-timing-function: ease;}
#anime_test{animation-timing-function: ease;}
#list_wrap{animation-timing-function: ease;}
#con_wrap{animation-timing-function: ease;}
#tweet{animation-timing-function: ease;}

